.st0 {
  fill: none;
}

.st1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

.kOQDAIUA_0 {
  stroke-dasharray: 210 212;
  stroke-dashoffset: 211;
  animation: kOQDAIUA_draw 586ms linear 0ms forwards;
}

.kOQDAIUA_1 {
  stroke-dasharray: 210 212;
  stroke-dashoffset: 211;
  animation: kOQDAIUA_draw 586ms linear 586ms forwards;
}

.kOQDAIUA_2 {
  stroke-dasharray: 129 131;
  stroke-dashoffset: 130;
  animation: kOQDAIUA_draw 361ms linear 1173ms forwards;
}

.kOQDAIUA_3 {
  stroke-dasharray: 129 131;
  stroke-dashoffset: 130;
  animation: kOQDAIUA_draw 361ms linear 1535ms forwards;
}

.kOQDAIUA_4 {
  stroke-dasharray: 88 90;
  stroke-dashoffset: 89;
  animation: kOQDAIUA_draw 247ms linear 1896ms forwards;
}

.kOQDAIUA_5 {
  stroke-dasharray: 88 90;
  stroke-dashoffset: 89;
  animation: kOQDAIUA_draw 247ms linear 2144ms forwards;
}

.kOQDAIUA_6 {
  stroke-dasharray: 96 98;
  stroke-dashoffset: 97;
  animation: kOQDAIUA_draw 269ms linear 2391ms forwards;
}

.kOQDAIUA_7 {
  stroke-dasharray: 96 98;
  stroke-dashoffset: 97;
  animation: kOQDAIUA_draw 269ms linear 2661ms forwards;
}

.kOQDAIUA_8 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 2931ms forwards;
}

.kOQDAIUA_9 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 3312ms forwards;
}

.kOQDAIUA_10 {
  stroke-dasharray: 143 145;
  stroke-dashoffset: 144;
  animation: kOQDAIUA_draw 400ms linear 3693ms forwards;
}

.kOQDAIUA_11 {
  stroke-dasharray: 143 145;
  stroke-dashoffset: 144;
  animation: kOQDAIUA_draw 400ms linear 4093ms forwards;
}

.kOQDAIUA_12 {
  stroke-dasharray: 129 131;
  stroke-dashoffset: 130;
  animation: kOQDAIUA_draw 361ms linear 4494ms forwards;
}

.kOQDAIUA_13 {
  stroke-dasharray: 129 131;
  stroke-dashoffset: 130;
  animation: kOQDAIUA_draw 361ms linear 4855ms forwards;
}

.kOQDAIUA_14 {
  stroke-dasharray: 102 104;
  stroke-dashoffset: 103;
  animation: kOQDAIUA_draw 286ms linear 5217ms forwards;
}

.kOQDAIUA_15 {
  stroke-dasharray: 102 104;
  stroke-dashoffset: 103;
  animation: kOQDAIUA_draw 286ms linear 5503ms forwards;
}

.kOQDAIUA_16 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 5789ms forwards;
}

.kOQDAIUA_17 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 6170ms forwards;
}

.kOQDAIUA_18 {
  stroke-dasharray: 143 145;
  stroke-dashoffset: 144;
  animation: kOQDAIUA_draw 400ms linear 6551ms forwards;
}

.kOQDAIUA_19 {
  stroke-dasharray: 143 145;
  stroke-dashoffset: 144;
  animation: kOQDAIUA_draw 400ms linear 6952ms forwards;
}

.kOQDAIUA_20 {
  stroke-dasharray: 89 91;
  stroke-dashoffset: 90;
  animation: kOQDAIUA_draw 250ms linear 7352ms forwards;
}

.kOQDAIUA_21 {
  stroke-dasharray: 89 91;
  stroke-dashoffset: 90;
  animation: kOQDAIUA_draw 250ms linear 7603ms forwards;
}

.kOQDAIUA_22 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 7853ms forwards;
}

.kOQDAIUA_23 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 8234ms forwards;
}

.kOQDAIUA_24 {
  stroke-dasharray: 88 90;
  stroke-dashoffset: 89;
  animation: kOQDAIUA_draw 247ms linear 8615ms forwards;
}

.kOQDAIUA_25 {
  stroke-dasharray: 88 90;
  stroke-dashoffset: 89;
  animation: kOQDAIUA_draw 247ms linear 8862ms forwards;
}

.kOQDAIUA_26 {
  stroke-dasharray: 125 127;
  stroke-dashoffset: 126;
  animation: kOQDAIUA_draw 350ms linear 9110ms forwards;
}

.kOQDAIUA_27 {
  stroke-dasharray: 125 127;
  stroke-dashoffset: 126;
  animation: kOQDAIUA_draw 350ms linear 9460ms forwards;
}

.kOQDAIUA_28 {
  stroke-dasharray: 89 91;
  stroke-dashoffset: 90;
  animation: kOQDAIUA_draw 250ms linear 9811ms forwards;
}

.kOQDAIUA_29 {
  stroke-dasharray: 89 91;
  stroke-dashoffset: 90;
  animation: kOQDAIUA_draw 250ms linear 10061ms forwards;
}

.kOQDAIUA_30 {
  stroke-dasharray: 132 134;
  stroke-dashoffset: 133;
  animation: kOQDAIUA_draw 369ms linear 10311ms forwards;
}

.kOQDAIUA_31 {
  stroke-dasharray: 132 134;
  stroke-dashoffset: 133;
  animation: kOQDAIUA_draw 369ms linear 10681ms forwards;
}

.kOQDAIUA_32 {
  stroke-dasharray: 133 135;
  stroke-dashoffset: 134;
  animation: kOQDAIUA_draw 372ms linear 11051ms forwards;
}

.kOQDAIUA_33 {
  stroke-dasharray: 133 135;
  stroke-dashoffset: 134;
  animation: kOQDAIUA_draw 372ms linear 11424ms forwards;
}

.kOQDAIUA_34 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 11796ms forwards;
}

.kOQDAIUA_35 {
  stroke-dasharray: 136 138;
  stroke-dashoffset: 137;
  animation: kOQDAIUA_draw 380ms linear 12177ms forwards;
}

.kOQDAIUA_36 {
  stroke-dasharray: 102 104;
  stroke-dashoffset: 103;
  animation: kOQDAIUA_draw 286ms linear 12558ms forwards;
}

.kOQDAIUA_37 {
  stroke-dasharray: 102 104;
  stroke-dashoffset: 103;
  animation: kOQDAIUA_draw 286ms linear 12845ms forwards;
}

.kOQDAIUA_38 {
  stroke-dasharray: 121 123;
  stroke-dashoffset: 122;
  animation: kOQDAIUA_draw 339ms linear 13131ms forwards;
}

.kOQDAIUA_39 {
  stroke-dasharray: 121 123;
  stroke-dashoffset: 122;
  animation: kOQDAIUA_draw 339ms linear 13471ms forwards;
}

.kOQDAIUA_40 {
  stroke-dasharray: 123 125;
  stroke-dashoffset: 124;
  animation: kOQDAIUA_draw 344ms linear 13810ms forwards;
}

.kOQDAIUA_41 {
  stroke-dasharray: 123 125;
  stroke-dashoffset: 124;
  animation: kOQDAIUA_draw 344ms linear 14155ms forwards;
}

@keyframes kOQDAIUA_draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes kOQDAIUA_fade {
  0% {
    stroke-opacity: 1;
  }

  97.86096256684492% {
    stroke-opacity: 1;
  }

  100% {
    stroke-opacity: 0;
  }
}

